In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("loan_approval_dataset.csv")

In [3]:
df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [4]:
df = df.drop(columns = ["loan_id"])

In [5]:
df.columns = df.columns.str.strip()
for c in df.columns:
    print(repr(c))

'no_of_dependents'
'education'
'self_employed'
'income_annum'
'loan_amount'
'loan_term'
'cibil_score'
'residential_assets_value'
'commercial_assets_value'
'luxury_assets_value'
'bank_asset_value'
'loan_status'

In [6]:
x = df[
    [
        "no_of_dependents",
        # "education",
        # "self_employed",
        "income_annum",
        "loan_amount",
        "loan_term",
        "cibil_score",
        "bank_asset_value"
    ]
]

y = (
    df["loan_status"]
    .str.strip()
    .map({"Approved": 1, "Rejected": 0})
)

In [7]:
x

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,bank_asset_value
0,2,9600000,29900000,12,778,8000000
1,0,4100000,12200000,8,417,3300000
2,3,9100000,29700000,20,506,12800000
3,3,8200000,30700000,8,467,7900000
4,5,9800000,24200000,20,382,5000000
...,...,...,...,...,...,...
4264,5,1000000,2300000,12,317,800000
4265,0,3300000,11300000,20,559,1900000
4266,2,6500000,23900000,18,457,7300000
4267,1,4100000,12800000,8,780,5800000
4268,1,9200000,29700000,10,607,12000000

In [8]:
y

0       1
1       0
2       0
3       0
4       0
       ..
4264    0
4265    1
4266    0
4267    1
4268    1
Name: loan_status, Length: 4269, dtype: int64

In [9]:
x.isna().sum()

no_of_dependents    0
income_annum        0
loan_amount         0
loan_term           0
cibil_score         0
bank_asset_value    0
dtype: int64

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42
)

In [11]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   no_of_dependents  4269 non-null   int64
 1   income_annum      4269 non-null   int64
 2   loan_amount       4269 non-null   int64
 3   loan_term         4269 non-null   int64
 4   cibil_score       4269 non-null   int64
 5   bank_asset_value  4269 non-null   int64
dtypes: int64(6)
memory usage: 200.2 KB

In [12]:
num_cols = [
    "no_of_dependents",
    "income_annum",
    "loan_amount",
    "loan_term",
    "cibil_score",
    "bank_asset_value"
]

In [13]:
sc = StandardScaler()
x_train[num_cols]  = sc.fit_transform(x_train[num_cols])

In [14]:
x_test[num_cols] = sc.transform(x_test[num_cols])

In [15]:
x_train[num_cols].mean()
x_train[num_cols].std()

no_of_dependents    1.000146
income_annum        1.000146
loan_amount         1.000146
loan_term           1.000146
cibil_score         1.000146
bank_asset_value    1.000146
dtype: float64

In [16]:
x_train

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,bank_asset_value
1675,1.512508,1.009500,1.624772,-0.860003,-0.187401,1.160414
1164,-1.435001,1.614171,2.077128,0.188894,0.637397,0.882020
192,-0.845499,-1.515891,-1.354157,-0.510371,0.474761,-1.314198
910,-0.255997,-0.057566,-0.228784,1.237791,0.892968,0.696424
567,1.512508,-0.733375,-0.449445,0.188894,-0.925072,-0.912074
...,...,...,...,...,...,...
3444,-1.435001,-1.338046,-1.155562,0.888158,-0.408121,-1.283266
466,1.512508,-1.622597,-1.475521,1.237791,-1.099324,-1.468862
3092,0.923006,1.258482,0.598697,0.888158,-0.878604,0.139636
3772,-0.255997,0.689380,0.686961,0.188894,-0.344228,1.438808
860,0.923006,0.404829,0.234605,-0.860003,1.375068,-0.107825

In [17]:
import joblib

In [18]:
joblib.dump(sc, "standard_scaler.pkl")

['standard_scaler.pkl']

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [20]:
param_dist = {
    "C": np.logspace(-3, 2, 20),
    "class_weight": [None, "balanced"]
}

In [21]:
# x_train["education"] = x_train["education"].str.strip()
# x_train["self_employed"] = x_train["self_employed"].str.strip()

# x_test["education"] = x_test["education"].str.strip()
# x_test["self_employed"] = x_test["self_employed"].str.strip()

In [22]:
# x_train["education"] = x_train["education"].map({
#     "Graduate": 1,
#     "Not Graduate": 0
# })

# x_test["education"] = x_test["education"].map({
#     "Graduate": 1,
#     "Not Graduate": 0
# })

# x_train["self_employed"] = x_train["self_employed"].map({
#     "Yes": 1,
#     "No": 0
# })

# x_test["self_employed"] = x_test["self_employed"].map({
#     "Yes": 1,
#     "No": 0
# })

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

rf = RandomForestClassifier(random_state=42)

param_dist = {
    "n_estimators": [100, 200, 300, 500],
    "max_depth": [None, 5, 10, 15, 20],
    "min_samples_split": [2, 5, 10],
    "min_samples_leaf": [1, 2, 4],
    "max_features": ["sqrt", "log2"],
    "bootstrap": [True, False]
}

rand = RandomizedSearchCV(
    estimator=rf,
    param_distributions=param_dist,
    n_iter=20,
    scoring="roc_auc",
    cv=5,
    random_state=42,
    n_jobs=-1
)

rand.fit(x_train, y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42),
                   n_iter=20, n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [None, 5, 10, 15, 20],
                                        'max_features': ['sqrt', 'log2'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 200, 300, 500]},
                   random_state=42, scoring='roc_auc')

In [24]:
best_model = rand.best_estimator_
print(rand.best_params_)
print(rand.best_score_)

{'n_estimators': 300, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_features': 'log2', 'max_depth': None, 'bootstrap': True}
0.9960324542871714

In [25]:
y_pred = best_model.predict(x_test)

In [26]:
risk_probability = best_model.predict_proba(x_test)[:, 1]

for t in [0.55, 0.6, 0.65, 0.7]:
    y_custom = (risk_probability >= t).astype(int)
    print("\nthreshold:", t)
    print(classification_report(y_test, y_custom))

threshold: 0.55
              precision    recall  f1-score   support

           0       0.97      0.98      0.98       318
           1       0.99      0.99      0.99       536

    accuracy                           0.98       854
   macro avg       0.98      0.98      0.98       854
weighted avg       0.98      0.98      0.98       854


threshold: 0.6
              precision    recall  f1-score   support

           0       0.97      0.98      0.97       318
           1       0.99      0.98      0.98       536

    accuracy                           0.98       854
   macro avg       0.98      0.98      0.98       854
weighted avg       0.98      0.98      0.98       854


threshold: 0.65
              precision    recall  f1-score   support

           0       0.95      0.99      0.97       318
           1       1.00      0.97      0.98       536

    accuracy                           0.98       854
   macro avg       0.98      0.98      0.98       854
weighted avg       0.98      0.98      0.98       854


threshold: 0.7
              precision    recall  f1-score   support

           0       0.94      0.99      0.97       318
           1       1.00      0.96      0.98       536

    accuracy                           0.98       854
   macro avg       0.97      0.98      0.97       854
weighted avg       0.98      0.98      0.98       854

In [27]:
print(accuracy_score(y_test, y_pred))

0.9812646370023419

In [28]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.97      0.97       318
           1       0.98      0.99      0.99       536

    accuracy                           0.98       854
   macro avg       0.98      0.98      0.98       854
weighted avg       0.98      0.98      0.98       854

In [29]:
threshold = 0.55



final_decision = [
    "Approved" if p >= threshold else "Rejected"
    for p in risk_probability
]

In [30]:
y_final = [1 if d == "Approved" else 0 for d in final_decision]

In [31]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print("accuracy:", accuracy_score(y_test, y_final))
print(classification_report(y_test, y_final))
print(confusion_matrix(y_test, y_final))

accuracy: 0.9824355971896955
              precision    recall  f1-score   support

           0       0.97      0.98      0.98       318
           1       0.99      0.99      0.99       536

    accuracy                           0.98       854
   macro avg       0.98      0.98      0.98       854
weighted avg       0.98      0.98      0.98       854

[[311   7]
 [  8 528]]

In [32]:
bundle = {
    "model": best_model,
    "scaler": sc,
    "features": list(x_train.columns),
    "threshold": 0.55
}

joblib.dump(bundle, "credit_risk_artifacts.pkl")

['credit_risk_artifacts.pkl']

In [33]:
x_train.columns

Index(['no_of_dependents', 'income_annum', 'loan_amount', 'loan_term',
       'cibil_score', 'bank_asset_value'],
      dtype='object')